rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /tyres/{tyreId}/{allPaths=**} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /branches/{branchId}/{allPaths=**} {
      allow read: if true;
      allow create, update, delete: if firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
